:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 10;
  --itemZ: 1; /* Gap between each cards */
  --cameraSpeed: 300; /* Where 1 is the fastest, this var is a multiplying factor of --scenePerspective and --filmZ */
  --cameraZ: 200; /* Initial camera position */
  --viewportHeight: 0; /* Viewport height will allow us to set the depth of our scene */
  --viewportDisplay: none;
}

h1 {
  font-family: nordvest, sans-serif;
  font-size: 6rem;
  color: #747c22;
  /* margin: 0;
  bottom: 40vh;
  left: 1rem;
  text-align: center; */
}

h2 {
  font-family: nordvest, sans-serif;
  font-size: 4rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.2rem;
}
h3 {
  font-family: nordvest, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-block-start: 2rem;
  margin-block-end: 0.2rem;
}

p {
  font-family: nordvest, sans-serif;
  font-size: 1.5rem;
  width: 40vw;
}

a {
  text-decoration: none;
  color: #747c22;
  transition: 0.2s;
}
a:hover,:focus {
  color: #ff8a00;
  outline: none;
}

.theme {
  font-family: nordvest, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-block-start: 2rem;
  margin-block-end: 0.2rem;
}

.translation {
  font-family: garamondt, serif;
  font-size: 2rem;
  font-style: italic;
  margin-block-start: 0;
}

.source {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

body {
  background-color: #ece0c6;
  color: #747c22;
  padding: 0;
  margin: 0;
}

#intro, #footer, #about{
  width:100vw;
  z-index: 999;
}

/* ----------------INTRO------------------ */

#intro {
  overflow: hidden;
  background-color: #ece0c6;
}#intro img {
  filter: invert(32%) sepia(43%) saturate(300%) hue-rotate(30deg) brightness(120%) contrast(92%);
  width: 100vw;
}

.clip {
  position: absolute;
  background-repeat: no-repeat;
}

#clip-nahda {
  transform: translate(4vw,12.5vw);
  width: 39vw;
  height: 12vw;
  background-image: url(assets/hero-nahda.png);
  background-size: 90%;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 5% 100%);;
}
#clip-metsa {
  transform: translate(40vw,21vw);
  width: 34vw;
  height: 12vw;
  background-image: url(assets/hero-metsa.png);
  background-size: 90%;
  clip-path: polygon(5% 0%, 90% 0%, 100% 100%, 10% 100%);;
}
#clip-puilta {
  transform: translate(51vw,31vw);
  width: 39vw;
  height: 17vw;
  background-image: url(assets/hero-puilta.png);
  background-size: 95%;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 5% 100%);;
}

/* ----------------ABOUT------------------ */
#about{
  width: 100vw;
  height: 100%;
  padding: 4vw 5vw 5vw 5vw;
  background-color: #ece0c6;
}#about h1 {
  font-size: 4rem !important;
}#about p {
  margin-top: 0;
  width: 100%;
}
.container-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 5%;
}
@media screen and (min-width: 35rem) {
  .container-about {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.column-about {
  flex: 1;
  margin-bottom: 2rem;
}
.title-about {
  flex: 1 100%;
}

/* ----------------3D / CONTENT------------------ */
#card-viewport > img {
  filter: invert(32%) sepia(43%) saturate(300%) hue-rotate(30deg) brightness(120%) contrast(92%);
  position: fixed;
  display: block !important;
  top: 0;
  left: 0;
  /* width: 100vw; */
  z-index: -1;
}

#iframe {
  position: fixed;
  background-color: #ece0c6;
  border: 3px solid #747c22;
  margin: 3% 3% 0 3%;
  height: 97%;
  width: 94%;
  top: 0;
  left: 0;
  padding: 0 5vw 0 5vw;
}

.scene3D > div h2 {
  margin-top: 0;
  font-size: 3rem;
}

.img { /* Filter for colorizing bw images */
  filter: invert(32%) sepia(43%) saturate(300%) hue-rotate(30deg) brightness(120%) contrast(92%);
  float: right;
}

.gif {
  filter: invert(32%) sepia(43%) saturate(300%) hue-rotate(30deg) brightness(120%) contrast(92%);
}

.card {
  padding: 2rem;
  /* padding-bottom: 20rem; */
  background-color: #ece0c6;
  border: 3px solid #747c22;
  height: 600px;
  transition: 0.6s;
}
.card:hover {
  color: #ff8a00;
  border: 3px solid #ff8a00;
  cursor: pointer;
}

.open {
  width: 1200px !important;
  position: absolute !important;
  top: 5vw !important;
  left: 5vw !important;
  transform-style: flat;
  transform: none !important;
  overscroll-behavior: contain;
}

.close {
  position: fixed;
  top: 7vw;
  right: 6vw;
  background-color: transparent !important;
  border: none;
  color: #747c22;
  text-align: center;
  text-decoration: none;
  font-family: garamondt, serif;
  font-size: 2rem;
}

.close:hover {
  font-style: italic;
}

.hide {
  display: none; 
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.oksa {
  /* background: none; */
  pointer-events:none;
  width: 200%;
  filter: invert(32%) sepia(43%) saturate(300%) hue-rotate(30deg) brightness(120%) contrast(92%);
}

.linkSpanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.iframe-body {
  padding-bottom: 5%;
}

.article-end {
  margin-top: 4rem;
}
.article-end h3 {
  margin-block-start: 1rem;
}
.article-end a {
  font-family: nordvest, sans-serif;
  font-size: 0.8rem;
  text-decoration: underline;
  width: 40vw;
}

/* ----------------SCROLLYTELLING----------------- */

.scrolly-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 7rem;
  background-color: #ece0c6;
}
@media screen and (min-width: 35rem) {
  .scrolly-container {
    flex-direction: row;
  }
}
.scrolly-container > * {
  flex: 1;
}

.scrolly-side {
  padding: 0 2rem;
}
.scrolly-side > div {
  height: 90vh;
}
.scrolly-side > div:last-of-type {
  height: auto;
  position: sticky;
  top: 15rem;
}
/* .scrolly-last {
  position: sticky !important;
  top: 15rem;
  height: auto !important;
} */

.sticky {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 10rem;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: 15rem;
  /* background-color: #ece0c6; */
}
@media screen and (min-width: 35rem) {
  .sticky {
    position: sticky;
  }
}

/* ----------------FOOTER------------------ */

#footer {
  height: 100vh;
  background-color: #c5ddf1;
}
/* #footer p {
  font-size: 1.2rem;
} */
#footer h3 {
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: normal;
  padding-bottom: 0.5rem;
  margin-block-start: 2rem;
  margin-block-end: 0.2rem;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  padding: 2rem 5rem;
  gap: 5%;
}
@media screen and (min-width: 35rem) {
  .container {
    flex-direction: row;
  }
}
.column {
  flex: 1;
}
.project {
  padding-left: 10%;
}
.footer-link {
  position: relative;
  border-bottom: 2px solid #747c22;
}.footer-link:hover {
  color: #ff8a00;
  border-color: #ff8a00;
  cursor: pointer;
}

/* ---------3D SCROLLING on the z axis - Vincent Humeau ------------*/
.viewport {
  height: calc(var(--viewportHeight) * 1px);
}

.viewport .scene3D-container {
  position: fixed;
  display: var(--viewportDisplay);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
          perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  -webkit-perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
          perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(calc(var(--cameraZ) * 1px));
          transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}

.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}

@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}

.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}

.viewport .scene3D-container .scene3D > div:nth-child(2n + 1) {
  right: 0;
}

.viewport .scene3D-container .scene3D > div:nth-child(0) {
  -webkit-transform: translate3D(22%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
          transform: translate3D(22%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(1) {
  -webkit-transform: translate3D(-30%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
          transform: translate3D(-30%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(2) {
  -webkit-transform: translate3D(-15%, -45%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
          transform: translate3D(-15%, -45%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(3) {
  -webkit-transform: translate3D(25%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
          transform: translate3D(25%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(4) {
  -webkit-transform: translate3D(15%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
          transform: translate3D(15%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(5) {
  -webkit-transform: translate3D(10%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
          transform: translate3D(10%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(6) {
  -webkit-transform: translate3D(8%, -16%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
          transform: translate3D(8%, -16%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(7) {
  -webkit-transform: translate3D(3%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
          transform: translate3D(3%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(8) {
  -webkit-transform: translate3D(10%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
          transform: translate3D(10%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(9) {
  -webkit-transform: translate3D(-33%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
          transform: translate3D(-33%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(10) {
  -webkit-transform: translate3D(43%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
          transform: translate3D(43%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
  right: 0;
  left: unset;
}

.viewport .scene3D-container .scene3D > div:nth-child(11) {
  -webkit-transform: translate3D(14%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
          transform: translate3D(14%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(12) {
  -webkit-transform: translate3D(5%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
          transform: translate3D(5%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(13) {
  -webkit-transform: translate3D(-2%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
          transform: translate3D(-2%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(14) {
  -webkit-transform: translate3D(16%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
          transform: translate3D(16%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(15) {
  -webkit-transform: translate3D(16%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
          transform: translate3D(16%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(16) {
  -webkit-transform: translate3D(25%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
          transform: translate3D(25%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(17) {
  -webkit-transform: translate3D(11%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
          transform: translate3D(11%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(18) {
  -webkit-transform: translate3D(-7%, -37%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
          transform: translate3D(-7%, -37%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(19) {
  -webkit-transform: translate3D(12%, 22%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
          transform: translate3D(12%, 22%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(20) {
  -webkit-transform: translate3D(21%, 32%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
          transform: translate3D(21%, 32%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(21) {
  -webkit-transform: translate3D(6%, 47%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
          transform: translate3D(6%, 47%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(22) {
  -webkit-transform: translate3D(1%, -42%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
          transform: translate3D(1%, -42%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(23) {
  -webkit-transform: translate3D(7%, -42%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
          transform: translate3D(7%, -42%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(24) {
  -webkit-transform: translate3D(-13%, 49%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
          transform: translate3D(-13%, 49%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}

.viewport .scene3D-container .scene3D > div:nth-child(25) {
  -webkit-transform: translate3D(12%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
          transform: translate3D(12%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: garamondt;
  src: url(assets/Garamondt-Regular.woff);
  font-style: normal;
}
@font-face {
  font-family: garamondt;
  src: url(assets/Garamondt-Italic.woff);
  font-style: italic;
}
@font-face {
    font-family: nordvest;
    src: url(assets/NordvestWeb-Regular.eot);
    src: url(assets/NordvestWeb-Regular.eot?#iefix) format('embedded-opentype'),
    	 url(assets/NordvestWeb-Regular.woff2) format('woff2'),
         url(assets/NordvestWeb-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: nordvest;
    src: url(assets/NordvestWeb-RegularItalic.eot);
    src: url(assets/NordvestWeb-RegularItalic.eot?#iefix) format('embedded-opentype'),
    	 url(assets/NordvestWeb-RegularItalic.woff2) format('woff2'),
         url(assets/NordvestWeb-RegularItalic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}
